<h1>Hello there!</h1>
<p>Welcome to our town generator!</p>
<h4>To load a premade seed:</h4>
<ol>
<li style="padding-left: 30px;">Open up the "Wizard" tab.</li>
<li style="padding-left: 30px;">Click the "Load" button on the right of the page</li>
<li style="padding-left: 30px;">Load in your file</li>
<li style="padding-left: 30px;">Assign a name to the town and a population size</li>
<li style="padding-left: 30px;">Click "Build Town"</li>
</ol>
<p>&nbsp;</p>
<h4>To create a seed:</h4>
<ol>
<li>Load in any files necessary
<ul>
<li>You must have at least one file specifying people (ex. "people.json")</li>
<li>You must have at least one file specifying classes of people (ex. "fisherman.json")</li>
</ul>
</li>
<li>Click "Generate Seed"</li>
<li>Specify a location for the saved seed</li>
<li>Assign your town a name and population</li>
<li>Click "Build Town."</li>
</ol>
<p>&nbsp;</p>
<p><span style="color: #0000ff;">Thank you for using our generator!</span></p>
<p><span style="color: #0000ff;">-Cody, Ben, Matt, and Bert!</span></p>
